<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership WORLD OF WHEELS = WOW</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the greatest car dealership on earth</h1>
      <form action="/caradded">
        <div class="form-group">
          <label for="make-model">What is the make/model of your car?</label>
          <input type="text" id="make-model" name="make-model" class="form-control">
        </div>
        <div class="form-group">
          <label for="year">Year?</label>
          <input type="text" id="year" name="year" class="form-control">
        </div>
        <div class="form-group">
          <label for="color">Color?</label>
          <input type="text" id="color" name="color" class="form-control">
        </div>
        <div class="form-group">
          <label for="mileage">Miles?</label>
          <input type="text" id="miles" name="miles" class="form-control">
        </div>
        <div class="form-group">
          <label for="price">What do you think your car is WORTH?</label>
          <input type="text" id="price" name="price" class="form-control">
        </div>
        <!-- <div class="form-group">
          <label for="new">Is this car new?</label>
          <input type="text" id="new" name="new" class="form-control">
        </div> -->
        <button type="submit" class="btn btn-danger">Add Car</button>
      </form>
      <p><a href="/allcars">See all cars?</a></p>


    </div>


  </body>
</html>
